div.main {
  min-height: 100vh;
  padding: 40px 1em $footer-height;
  direction: rtl;
  main {
    margin-bottom: 2em;
  }
}

footer {
  display: flex;
  justify-content: start;
  margin-top: -$footer-height;
  height: $footer-height;
  width: 100%;
  border-top: #888 1px solid;
  // background-color: $color-primary;
  color: #888;
  direction: rtl;
  padding-inline: 1em;
  div {
    align-self: center;
    text-align: center;
    &.copyright {
      margin-inline-start: auto;
      font-size: 0.7em;
    }
    &.link a {
      color: #000000;
      margin-inline-end: 1em;
      svg {
        margin-top: 0.5em;
      }
    }
  }

}
