ul.song-list {
    list-style: none;
    margin: 1em;
    a {
        text-decoration: none;
    }
}

form {
    input {
        border-radius: 5px;
        border: #999 1px solid;
        width: 100%;
        padding: 0.3em 0.5em;
    }
}

  